body{
    background-color: bisque;
}

.measurementContainer

.measurement{
    background-color: rgb(226, 203, 176);
    width: 30vw; /* skal måske gøres på en anden måde*/
    display: flex;
    justify-content: space-between;
}