{% extends "base.html" %}
{% block head %}
<title>Home</title>
<link rel="stylesheet" href=" {{ url_for('static', filename='style/home.css') }} ">
<script defer src="/static/js/home.js"></script>
{% endblock head %}
{% block body %}
<div class="linkContainer">
  <a href="/measurements">See all measurements</a>
</div>
<h1>Current State</h1>
<div class="measurementContainer">
  <h2>eCO2</h2>
  <div class="measurement">
    <p id="latCO2">Latest value: {{latCO2}}</p>
    <p id="latCO2_time">Time: {{latCO2_time}}</p>
  </div>
</div>
<div class="measurementContainer">
  <h2>TVOC</h2>
  <div class="measurement">
    <p id="latTVOC">Latest value: {{latTVOC}}</p>
    <p id="latTVOC_time">Time: {{latTVOC_time}}</p>
  </div>
</div>
<!-- ------------------------------------------------------------ -->
<h1>Maximum values</h1>
<div class="measurementContainer">
  <h2>eCO2</h2>
  <div class="measurement">
    <p id="maxCO2">Maximum value: {{maxCO2}}</p>
    <p id="maxCO2_time">Time: {{maxCO2_time}}</p>
  </div>
</div>
<div class="measurementContainer">
  <h2>TVOC</h2>
  <div class="measurement">
    <p id="maxTVOC">Maximum value: {{maxTVOC}}</p>
    <p id="maxTVOC_time">Time: {{maxTVOC_time}}</p>
  </div>
</div>
<!-- ------------------------------------------------------------ -->
<h1>Minimum values</h1>
<div class="measurementContainer">
  <h2>eCO2</h2>
  <div class="measurement">
    <p id="minCO2">Minimum value: {{minCO2}}</p>
    <p id="minCO2_time">Time: {{minCO2_time}}</p>
  </div>
</div>
<div class="measurementContainer">
  <h2>TVOC</h2>
  <div class="measurement">
    <p id="minTVOC">Minimum value: {{minTVOC}}</p>
    <p id="minTVOC_time">Time: {{minTVOC_time}}</p>
  </div>
</div>
{% endblock body %}