{% extends "base.html" %}
{% block head %}
<title>Home</title>
<link rel="stylesheet" href=" {{ url_for('static', filename='style/home.css') }} ">
<script defer src="/static/js/home.js"></script>
{% endblock head %}
{% block body %}
<div class="linkContainer">
  <a href="/measurements">See all measurements</a>
</div>
<h1>Current State</h1>
<p hidden id="NoDataMessage">No measurements to show. Connect gas sensor to get data.</p>
<div id="outerContainerForMeasurements">
  <table>
    <tr>
      <th>eCO2</th>
      <th>TVOC</th>
      <th>Time</th>
    </tr>
    <tr>
      <td id="latCO2">No data</td>
      <td id="latTVOC">No data</td>
      <td id="latCO2_time"></td>
    </tr>
  </table>
  <!-- ------------------------------------------------------------ -->
  <h1>Maximum values</h1>
  <div class="sideTables1">
    <div class="sideTables2">
      <table>
        <tr>
          <th>eCO2</th>
        </tr>
        <tr>
          <td id="maxCO2">No data</td>
        </tr>
        <tr>
          <td id="maxCO2_time">No data</td>
        </tr>
      </table>
      <div class="spaceBox"></div>
      <table>
        <tr>
          <th>TVOC</th>
        </tr>
        <tr>
          <td id="maxTVOC">No data</td>
        </tr>
        <tr>
          <td id="maxTVOC_time">No data</td>
        </tr>
      </table>
    </div>
  </div>
  <!-- ------------------------------------------------------------ -->
  <h1>Minimum values</h1>
  <div class="sideTables1">
    <div class="sideTables2">
      <table>
        <tr>
          <th class="header">eCO2</th>
        </tr>
        <tr>
          <td id="minCO2">No data</td>
        </tr>
        <tr>
          <td id="minCO2_time">No data</td>
        </tr>
      </table>
      <div class="spaceBox"></div>
      <table>
        <tr>
          <th class="header">TVOC</th>
        </tr>
        <tr>
          <td id="minTVOC">No data</td>
        </tr>
        <tr>
          <td id="minTVOC_time">No data</td>
        </tr>
      </table>
    </div>
  </div>
</div>
{% endblock body %}