{% extends "base.html" %}
{% block head %}
<title>Measurements</title>
<link rel="stylesheet" href=" {{ url_for('static', filename='style/measurements.css') }} ">
{% endblock head %}
{% block body %}
<div class="linkContainer">
  <a href="/home">Get overview</a>
</div>
<h1>All Measurements</h1>
<div id="allMes">
  {% if list %}
  <table>
    <tr>
      <th>eCO2</th>
      <th>TVOC</th>
      <th>Time</th>
    </tr>
    {% for mes in list %}
        {% if mes %}
    <tr>
      <td>{{mes[1]}}</td>
      <td>{{mes[2]}}</td>
      <td>{{mes[3]}}</td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>
  {% else %}
  <p>No measurements to show. Connect gas sensor to get data.</p>
  {% endif %}
</div>
{% endblock body %}